# Have Fun with R

### R as a pocket calculator

In [ ]:
# Type a single number:
5

In [ ]:
#or
print(5)## use it inside functions

In [ ]:
# Simple calculations:
13+6
5*7
10/2

In [ ]:
# A little more advanced:
4**3 ## ** equals ^
log(10)

In [ ]:
# Combine:
5+((10-16)/3*5)

In [ ]:
# Be carful to close every parenthesis:
5+((10-16)/3*5

### Variables
#### What to store in a variable - Numbers

In [ ]:
# Assign a variable:
a <- 5 ## Always from left to right

In [ ]:
# Save a calculation for later use:
a <- 6+8/4 ## Watch out! Now you overwrote the orignial "a" --> it is no longer "5"

# print a:
a

In [ ]:
# And use variables for calculations:
A  <- a*3

# print a and A:
print(c(a,A)) ## Don't worry about the the "c" yet :-)

In [ ]:
# Give your variables always practical and useful names:
my_apples <- 2

In [ ]:
# Give your variables always practical and useful names:
if <- 3 ## Watch out, "if" is a preinstalled function in R

#### What to store in a variable - Strings

In [ ]:
# Build your first strings ever:
mygene <- "KCNQ2" ## is the same as ‘KCNQ2’

# print your gene:
mygene

In [ ]:
# Compare numbers and strings:
number <- 5
number + 5

In [ ]:
# Do you see the difference?
string_number <- "5"
string_number + 5

#### What to store in a variable - Logical Data

In [ ]:
a > 3 
a < 10-8
a != 5

# print a:
a

### Operators

In [ ]:
# First define your variables:
a <- 5
b <- 6

# Compare your variables:
(a & b) == 6

In [ ]:
a | b == 6

In [ ]:
a != b

In [ ]:
# Same for strings:
"a" < "b"
"a" == "b"
"a" != "b"

### Exercise I

#### 1) Assign the output of *10-3* to the variable *result*

#### 2) Test if *result* is smaller than *11*?

#### 3) Print *result*

### Functions

In [ ]:
help(class)

In [ ]:
class("text")

In [ ]:
class(a)

In [ ]:
# Ready to write your own function?

Name_of_function <- function(input) { ## create function
    mean_squared = mean(input) **2
    return(mean_squared)
}

##### Wondering why nothing happend? Go to the next cell and use your function on an input!

In [ ]:
## use function
a = c(1, 2, 3, 4)
Name_of_function(a)

##### Congratulations to your first function! You are on your way to become a R programmer :-)

In [ ]:
# Installing new packages makes life easier:
    #install.packages(“the_package_you_want_to_install”)

# Load package after installation: 
library(ggplot2)

### Exercise II

#### 4) Write a function called *multiplier* which takes a value and multiplies it with itself

#### 5) Test *multiplier* with numbers 4 and 6

### Data Structure

#### Vectors

In [ ]:
# Make vectors with same data type:
Strings <- c("A", "B", "C")
Numbers <- c(1, -2, 3)
Booleans <- c(TRUE, FALSE, TRUE)

# print:
Strings
Numbers
Booleans

In [ ]:
# Make vectors with different data types --> Caution: R converts all data inside one vector to the same data type following the coercion rule

#number to ?
vec1 <- c(1.7, "a")
class(vec1)

#boolean to ?
vec2 <- c("a", TRUE)
class(vec2)

#boolean to ?
vec3 <- c(TRUE, 2.1)
class(vec3)

##### Cool, you figured out a very important rule in R: logical < numeric < character

In [ ]:
#combine vectors
vec4 <- c(vec2, vec3)
class(vec4)

#### Vector operations

In [ ]:
vec5 <- c(1, 2, 3, 4)
vec6 <- c(5, 6, 7, 8)

# print the result:
vec5*5

In [ ]:
vec7 <- c(10, 50, 23, -1, 0, -8, 6, 50)
vec7[5] ## accesses the 5th element

In [ ]:
#accesses elements 2, 3, 4, 5:
vec7[2:5] 

#or like this
vec7[c(2, 3, 4, 5)]

In [ ]:
# Iterate a vector: 
for (number in vec7) {
    print(number)
 }

### Exercise III

#### 6) Take the square of each value of *vec7* using a for loop

#### 7) Which values are greater than 3?

#### Lists

In [ ]:
# Create your first list:
my_list <- list(c(1, 2, 3), c("a"), c(TRUE, FALSE))

In [ ]:
# Access elements:
my_list[1]
my_list[2:3]
my_list[c(1, 3)]

In [ ]:
# Name a list: 
names(my_list) <- c("numbers", "strings", "boolean")

# Call by name:
my_list$strings

# or
my_list["strings"]

#### Dataframes

In [ ]:
# Build your first data frame:
Gene <- c("SCN1A", "BRAF", "DEPDC5", "TSC1")
Length <- c(2009, 766, 1603, 1164)
Mass <- c(228972, 84437, 181264, 129767)
my_df <-data.frame(Gene, Length, Mass) 
my_df

In [ ]:
# Access elements:
my_df[2, 1] ## get the second element of the first column
my_df[, 2] ## get all elements of the second column
my_df$Gene ## extract all Genes

In [ ]:
# Subset your data frame:
subset(my_df, Length > 1500, select = Gene)

### Exercise IV

#### 8) Extract all genes with their corresponding mass from *my_df*

#### 9) Extract the length of the gene with a mass equal to  *129767*

#### 10) Which gene is it?

### Conditional Statements and Loops

##### Now its getting harder! However, don't bury your heads in the sand ;-)

In [ ]:
# Let's start with the if condition (to run a specific command only if a certain condition is true):
x <- 5
y <- 2
z <- 3

if (x > 3) {
    print("The variable is greater than 3")
}

In [ ]:
# Add an alternative:
if (y > 3) {
    print("The variable is greater than 3")
} else{
    print("The variable is smaller than 3")
    }

In [ ]:
# Try here with different variables and replace the "?":
if (z > 3) {
    print("The variable is greater than 3")
} else{
    print("The variable is smaller than 3")
    }

In [ ]:
# Add another alternative:

if (z > 3) {
    print("The variable is greater than 3")
} else if(z == 3){
    print("The variable equals 3")
} else{
    print("The variable is smaller than 3")
}

In [ ]:
# Let's go on with for loops:

for (n in 1:5) {
       print(n)
}

In [ ]:
numbers <- c(3,9,2.3,-2)

for (number in numbers) {
    if(number > 0) {
        print(paste(number,"is larger than 0!"))
    }else {
        print(paste(number, "is smaller or equal to 0!"))
    }
}

### Exercise V

#### 11) Iterate 1:10 and add all values smaller than 5 to 20 otherwise substract them.

In [ ]:
for (i in 1:10) {
    if (i < 5){
        print(20+i)
    }else {
        print(20-i)
    }
}

### From file to plot

##### Ready to work on your first R visualization?

In [ ]:
# Read in your data
mycars <- read.table("workshop_cars.txt", header = TRUE, sep = "\t")

In [ ]:
# How do the first lines of your data frame look like?
head(mycars)

In [ ]:
# How do the last lines of your data frame look like?
tail(mycars)

In [ ]:
# An overview of your data:
str(mycars)

In [ ]:
# An other overview of your data:
summary(mycars)

In [ ]:
# Change colname "X" to "cars":
colnames(mycars)[colnames(mycars)=="X"] <- "cars"
colnames(mycars)

In [ ]:
# Load the package you need:
library(ggplot2)

In [ ]:
# Histograms are useful to get a first impression of the distribution of the data
ggplot(mycars, aes(hp)) +
    geom_histogram() +
    ylab("Number of Cars") +
    ggtitle("Distribution of Cars by Horsepower")

In [ ]:
# Change bindwidth because R asked for it (and my the way it makes sense in this case ;-)):
ggplot(mycars, aes(hp)) +
    geom_histogram(binwidth = 20) +
    ylab("Number of Cars") +
    ggtitle("Distribution of Cars by Horsepower")

In [ ]:
# Scatter plot
ggplot(mycars, aes(x = hp, y = mpg, color = as.factor(am))) +
    geom_point() + 
    scale_color_manual(values = c("red","blue"), labels = c("automatic", "manual"))+     
    ylab("Fuel Consumption [Miles per gallon]") +
    xlab("Horsepower")

In [ ]:
# Modify mycars
colnames(mycars)[colnames(mycars)=="am"] <- "gearshift"

# Show how many different entries are in col "gearshift"
table(mycars$gearshift)

In [ ]:
# Replace values of col "am"
mycars$gearshift<-ifelse(mycars$gearshift=="1","manual","automatic")
table(mycars$gearshift)

In [ ]:
# Look for your dream car:
dreamcar <- mycars[mycars$gearshift == "automatic"  & mycars$wt <3.2,] 
dreamcar

In [ ]:
# Sort by fuel consumption
Dreamcar_ordered <- dreamcar[order(dreamcar$mpg, decreasing = FALSE),]
Dreamcar_ordered

In [ ]:
# Add ranks:
Dreamcar_ordered$ranking <- c(3:1)
Dreamcar_ordered

In [ ]:
# Save your new data frame
write.table(Dreamcar_ordered, "Dreamcar.txt", sep = "\t")

### Exercise VI

##### Let's be creative before we are finished

#### 12) Read in *workshop_plants.txt*

#### 13) Find the species with the largest *mean* of the *Sepal.Width*

#### 14) Plot *Sepal.Length* against *Petal.Length* using a scatter plot and label the species with different colors

#### 15) Create a subset of large indivduals with *Sepal.Length* greater than 5 and save them in *large_flowers.txt*